/*Fuente*/
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/Outfit-Regular.woff2") format("woff2"),
    url("assets/fonts/Outfit-Regular.woff") format("woff");

  font-weight: normal;
  font-style: italic;
}

/*Inicio Navbar*/
.logo {
  width: 75px;
  border-radius: 5px;
}

.carro {
  padding-left: 15px;
  padding-right: 5px;
  transition: transform 0.3s ease-in-out;
}

.carro:hover {
  transform: scale(1.1) rotate(-10deg);
}

.navbar {
  background-color: #0d0d0d;
  font-size: 20px;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #2e8abf;
}

.form-control {
  transition: background-color 0.3s ease-in-out;
  border: none;
}

.form-control:focus {
  background-color: #b9e6ed;
}

/*Fin Navbar*/

/*Estilos Generales*/
body {
  background-color: #f2f2f2;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

main {
  margin: 10px 10px;
}

/*Fin estilos generales*/

/*Inicio Presentación Pagina Principal*/

.presentacion {
  margin-top: 120px;
  background-color: #72949e;
  padding: 5px;
  border-radius: 10px;
}

.texto-presentacion {
  color: #ffffff;
  font-size: 25px;
  line-height: 1.6;
  text-align: center;
  margin: 10px auto;
  max-width: 800px;
}

.texto-presentacion h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #0e3e56;
  letter-spacing: 2px;
  animation: entradaSuave 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

/* Animacion de entrada */
@keyframes entradaSuave {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.img-presentacion {
  height: 500px;
  border-radius: 5px;
}

/*Fin Presentación Pagina Principal*/

/* Inicio Carrusel múltiple */
.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-color: #1a358b;
  margin-top: 10px;
  border-radius: 10px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.link-categoria {
  text-decoration: none;
}

.slide {
  text-align: center;
  flex: 0 0 100%; /* Para móviles */
}

.slide img {
  width: 100%;
}

.slide .category {
  margin-top: 10px;
  font-size: 18px;
  color: #ffffff;
}

@media (min-width: 769px) {
  .slide {
    flex: 0 0 33.33%; /* Para escritorio */
  }
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.button.prev {
  left: 10px;
}

.button.next {
  right: 10px;
}
/* Fin Carrusel múltiple */

/*Sección Ofertas*/

.section-ofertas * {
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

.section-ofertas {
  background-color: #74888c;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.header-ofertas {
  background-color: #000000;
  padding: 30px;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.cards-ofertas {
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  align-items: center;
  display: flex;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-precio {
  color: rgb(155, 14, 14);
}

.card-btn {
  background-color: rgb(255, 0, 0);
  border: none;
}

.card-btn:hover {
  background-color: rgb(155, 14, 14);
  transform: scale(1.1);
}

/*Fin sección ofertas*/

/*Sección Marcas*/

.section-marcas {
  border-radius: 10px;
  background-color: #fff;
  padding: 0px;
  box-shadow: -10px 4px 10px rgba(0, 0, 0, 0.1);
}

.img-marcas {
  width: 125px;
  height: 125px;
  filter: grayscale(100);
  transition: all 0.3s ease-in-out;
}

.img-marcas:hover {
  filter: grayscale(0);
  box-shadow: -10px 4px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

/*Fin Marcas*/

/*Inicio InfoExtra*/

.info-extra {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.div-info-extra {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2px;
  padding: 20px;
  border-radius: 10px;
  background-color: #74888c;
}

/*Fin InfoExtra*/

/*INICIO SECCIONES*/

.header-sections {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 40px 20px;
  text-align: center;
  background-color: #72949e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  animation: entradaSuave 1s ease-in-out;
  animation-fill-mode: forwards;
}

.titulo-HeaderSections {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.titulos-sections {
  font-weight: 600;
  color: #222;
}

/*Inicio Quiénes somos*/

.quienes-somos {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #c7d4d9;
  border-radius: 10px;
  padding: 25px;
  font-size: 20px;
  text-align: justify;
}

.encabezado-qs {
  font-weight: bold;
}

.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #74888c;
  border-radius: 10px;
  padding: 10px;
}

.foto-equipo {
  width: 150px;
  margin: 15px;
  border-radius: 100px;
}

/*Fin Quiénes somos*/

/*Inicio Productos*/
.container-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.img-construccion {
  width: 600px;
  border-radius: 500px;
}
/*Fin Productos*/

/*Inicio  Contacto*/

.info-contacto,
.formulario-contacto {
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}

.info-contacto {
  background-color: #c7d4d9;
  margin-bottom: 10px;
  text-align: justify;
}

.formulario-contacto {
  background-color: #74888c;
}

.form-container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.label-contacto,
.button-contacto {
  margin: 5px 5px;
}

.input-contacto {
  max-width: 400px;
}

.input-contacto,
.text-contacto {
  margin: 2px 2px;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.input-contacto:focus,
.text-contacto:focus {
  border: 3px solid #2196f3;
  outline: none;
}

.button-contacto {
  border-radius: 5px;
  max-width: 150px;
  background-color: #123242;
  color: #fff;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button-contacto:hover {
  background-color: #2196f3;
  transform: scale(1.05);
}

/*Fin Contacto*/

/*Inicio comercializacion*/

.contenido-comercializacion {
  justify-content: space-between;
  gap: 10px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 15px;
  line-height: 1.5;
}

.envios,
.pagos {
  width: 50%;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #c7d4d9;
}

.logos-comercializacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: #123242;
  background-color: #74888c;
  border-radius: 8px;
  margin-bottom: 8px;
  animation: entradaSuave 1s ease-in-out;
  animation-fill-mode: forwards;
}

.titulo-pagos {
  color: #74888c;
  text-transform: uppercase;
  font-weight: 600;
}

/*Fin comercializacion*/

/*Inicio terminos*/
.container-terminos {
  background-color: #c7d4d9;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.parrafos-terminos {
  text-align: justify;
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 18px;
}
/*Fin terminos*/

/*Inicio Footer*/

.footer {
  font-size: 16px;
  margin: 10px 10px;
  padding-bottom: 10px;
  color: #ffffff;
  border-radius: 10px;
  margin: 2px;
  background-color: #0d0d0d;
}

.footer-uno,
.footer-dos {
  padding: 20px;
}

.link-footer {
  text-decoration: none;
  color: #ffffff;
}

.link-footer:hover {
  color: #2e8abf;
}

/*Fin Footer*/

/* ----------- Tablet y menores (≤ 991px) ----------- */
@media (max-width: 991px) {
  .navbar {
    font-size: 16px; /* reducir tamaño de fuente */
  }

  .logo {
    width: 60px; /* logo más pequeño */
  }

  .carro {
    padding-left: 5px;
    padding-right: 0;
    width: 35px; /* ajustar tamaño */
  }

  .texto-presentacion {
    font-size: 16px;
  }

  .img-presentacion {
    height: 400px;
  }

  .info-extra {
    flex-direction: column;
    align-items: center;
  }

  .div-info-extra {
    width: 90%;
    margin-bottom: 15px;
  }

  .section-marcas {
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-marcas {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 100px;
  }

  .header-sections {
    padding: 30px 15px;
  }

  .parrafos-terminos {
    font-size: 18px;
    line-height: 1.5;
  }

  .contenido-comercializacion {
    flex-direction: column;
    align-items: center;
  }

  .envios,
  .pagos {
    width: 90%;
    margin-bottom: 20px;
  }

  .titulos-sections {
    font-size: 18px;
  }

  .img-construccion {
    width: 600px;
    border-radius: 500px;
  }

  .footer-principal {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-uno,
  .footer-dos {
    padding: 10px 0;
  }
}

/* ----------- Móviles (≤ 576px) ----------- */
@media (max-width: 576px) {
  .navbar {
    font-size: 14px;
  }

  .logo {
    width: 50px;
  }

  .carro {
    width: 30px;
  }

  .img-presentacion {
    height: 300px;
  }

  .img-marcas {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 100px;
  }

  .div-info-extra {
    padding: 15px;
    font-size: 14px;
  }
  .header-sections {
    padding: 20px 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  }

  .parrafos-terminos {
    font-size: 16px;
    line-height: 1.4;
    padding: 5px;
  }

  .envios,
  .pagos {
    width: 95%;
  }

  .titulos-sections {
    font-size: 16px;
    text-align: center;
  }
  .logos-comercializacion img {
    width: 60px;
  }

  .img-construccion {
    width: 350px;
    border-radius: 500px;
  }

  .footer {
    font-size: 14px;
  }

  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }

  form.d-flex {
    flex-direction: column;
    align-items: stretch;
  }
}
